@font-face {
  font-family: "font-reg";
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}
/*
paramettres generaux
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "font-reg", sans-serif;
  background: #252323;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}

/*
paramettres par ordre
*/
header {
  width: 100%;
  height: calc(3rem + 10vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .logo_Head {
  margin: 4vw;
  width: calc(2rem + 4vw);
  height: calc(2rem + 4vh);
}
header h1 {
  font-family: "font-bold", sans-serif;
  font-size: calc(2rem + 2.5vw);
  letter-spacing: 0.2rem;
}

.search_Bar {
  display: flex;
  justify-content: center;
}
.search_Bar .input_Container {
  display: flex;
  justify-content: center;
  width: calc(10rem + 15vw);
  margin: 0 5%;
  position: relative;
}
.search_Bar .input_Container .icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}
.search_Bar .input_Container:hover .icon {
  animation: anim 1s linear infinite;
}
.search_Bar .input_Container .searchBarHome {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: 0.2s linear;
  border: 2.5px solid black;
  border-radius: 25px;
  background-color: whitesmoke;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.search_Bar .input_Container .searchBarHome:focus {
  background-color: #c2e1e3;
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.body_Infos {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}
.body_Infos .infos {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background: linear-gradient(147deg, #ad36cb 26.56%, #333 68.75%);
  width: calc(10rem + 45vw);
  height: calc(10rem + 15vh);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 hsla(0, 100%, 99%, 0.25), 0 4px 4px 0 hsla(0, 67%, 98%, 0.25);
}
.body_Infos .top_Infos {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.body_Infos .mid_Infos {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body_Infos .mid_Infos .icone_Temp {
  width: 30px;
  margin-top: 25px;
}
.body_Infos .mid_Infos .temp {
  margin: 0 2rem;
  font-size: 5vw;
}
.body_Infos .mid_Infos .icone_Meteo {
  width: 50px;
  margin-top: 25px;
}
.body_Infos .bottom_Infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.body_Infos .bottom_Infos .humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
  width: 6vw;
  height: 6vw;
  border-radius: 10px;
}
.body_Infos .bottom_Infos .wind {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
  width: 6vw;
  height: 6vw;
  border-radius: 10px;
}

/*
animations
*/
@keyframes anim {
  0%, 100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }
  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.3);
  }
}/*# sourceMappingURL=style.css.map */